<ul class="left-sidebar-menu">
  <li class="title">
    <%= t('sidebar.academic') %>
  </li>

  <li class="active">
    <%= link_to '#' do %>
      <i class="li_eye"></i>
      <span><%= t('sidebar.integralization') %></span>
    <% end %>
  </li>

  <li>
    <%= link_to courses_path do %>
      <i class="li_study"></i>
      <span>Disciplinas (TESTE)</span>
    <% end %>
  </li>

  <li>
    <%= link_to '#' do %>
      <i class="li_food"></i>
      <span><%= t('sidebar.week_menu') %></span>
    <% end %>
  </li>

  <li>
    <%= link_to '#' do %>
      <i class="li_like"></i>
      <span><%= t('sidebar.rate_professors') %></span>
    <% end %>
  </li>

  <li>
    <%= link_to '#' do %>
      <i class="li_study"></i>
      <span><%= t('sidebar.my_courses') %></span>
    <% end %>
  </li>

  <li>
    <%= link_to '#' do %>
      <i class="li_location"></i>
      <span><%= t('sidebar.campus_map') %></span>
    <% end %>
  </li>

  <li>
    <%= link_to '#' do %>
      <i class="li_lock"></i>
      <span><%= t('sidebar.plan_courses') %></span>
    <% end %>
  </li>

  <li class="title">
    <%= t('sidebar.social') %>
  </li>

  <li class="title">
    <%= t('sidebar.help') %>
  </li>

</ul>
