<ul class="right-sidebar-menu">
  <li>
    <%= link_to '#' do %>
      <%= image_tag 'http://placehold.it/43x43', class: 'pull-left', width: '43', height: '43' %>
      <span class="status online">&bull;</span>
      Xico Metranca dos nome gigante
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
      <%= image_tag 'http://placehold.it/43x43', class: 'pull-left', width: '43', height: '43' %>
      <span class="status busy">&bull;</span>
      Alcebíades
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
      <%= image_tag 'http://placehold.it/43x43', class: 'pull-left', width: '43', height: '43' %>
      <span class="status offline">&bull;</span>
      Jeremias
    <% end %>
  </li>
</ul>