<!DOCTYPE html>
<html>
  <head>
    <title>GDE</title>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans|Roboto:100' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class="container-fluid">
      <!-- Header -->
      <header class="header row">
        <div class="header-left col-lg-2 col-sm-3">
          <%= link_to image_tag("home_logo.png", width: '72', height: '72'), root_path %>
        </div>

        <div class="header-center col-lg-8 col-sm-9 no-padding">
          <div class="nav-user">
            <%= image_tag 'http://placehold.it/43x43', class: 'pull-left' %>
            <div class="nav-user-info">
              <span class="nav-user-name"><%= "Pota Beranizo" %></span>
              <span class="nav-user-notifications"><%= "Você tem x notificações" %></span>
            </div>
            <i class="nav-user-icon fa fa-caret-down"></i>
          </div>
        </div>

        <div class="header-right col-lg-2 visible-lg">
          <div class="input-group no-border-radius">
            <input type="text" class="form-control no-border-radius" placeholder="Buscar amigos...">
            <span class="input-group-addon no-border-radius"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </header>

      <section class="row">
        <!-- Sidebar -->
        <aside id="left_sidebar" class="col-lg-2 col-sm-3 no-padding" role="navigation">
          <%= render 'layouts/left_sidebar' %>
        </aside>

        <!-- Main Content -->
        <main id="main-content" class="col-lg-8 col-sm-9">
          <%= yield %>
        </main>

        <!-- Right sidebar -->
        <aside id="right_sidebar" class="col-lg-2 visible-lg no-padding">
          <%= render 'layouts/right_sidebar' %>
        </aside>
      </section>
    </section>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
