<!DOCTYPE html>
<html>
  <head>
    <title>GDE</title>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans|Roboto:100' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class="container-fluid">
      <!-- Header -->
      <header class="header row">
        <div class="header-left col-lg-2 col-sm-3">
          <%= image_tag "home_logo.png", class: "header-logo",
            width: '72', height: '72' %>
        </div>

        <div class="header-center col-lg-8 col-sm-9 no-padding">
          <div class="user-nav">
            <%= image_tag 'http://placehold.it/52x52', class: 'pull-left' %>
            <div class="user-info">
              <span class="user-name"><%= "Pota Beranizo" %></span>
              <span class="user-notifications"><%= "Você tem x notificações" %></span>
            </div>
            <i class="user-nav-icon fa fa-caret-down"></i>
          </div>
        </div>

        <div class="header-right col-lg-2 visible-lg">
        </div>
      </header>

      <section class="row">
        <!-- Sidebar -->
        <aside id="sidebar" class="col-lg-2 col-sm-3 no-padding" role="navigation">
          <%= render 'layouts/sidebar' %>
        </aside>

        <!-- Main Content -->
        <main id="main-content" class="col-lg-8 col-sm-9">
          <h2>middle</h2>
        </main>

        <!-- Right sidebar -->
        <aside id="right-sidebar" class="col-lg-2 visible-lg">
          <h1>right</h1>
        </aside>
      </section>
    </section>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
