<!DOCTYPE html>
<html>
  <head>
    <title>GDE</title>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans|Roboto:100' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag "home_logo.png", class: "center-block logo", width: '96', height: '96' %>
        </div>
        <div class="col-md-10 bg-blue">
          <div class="row-space-2"></div>
          <div class="row-space-2"></div>
        </div>
      </div>
    </div>
    <section class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
