<!DOCTYPE html>
<html>
  <head>
    <title>GDE</title>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans|Roboto:100' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag "home_logo.png", class: "center-block logo", width: '96', height: '96' %>
        </div>
        <div id="user-header" class="col-sm-10">
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag 'http://placehold.it/72x72', class: 'pull-left' %>
              <h4><%= current_user.label %></h4>
              <span class="fa-stack fa-lg pull-right">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
